<p id="notice"><%= notice %></p>
<h1>Lietotāji</h1>

<table id="users">
    <thead>
        <tr>
            <th>Vārds</th>
            <th>Uzvārds</th>
            <th>Lietotāja tips</th>
        </tr>
    </thead>
    <tbody>

        <% @users.each do |user| %>

            <tr data-user-id="<%= user.id %>">
                <td data-user-attribute="first_name"><%= user.first_name %></td>
                <td data-user-attribute="last_name"><%= user.last_name %></td>
                <td data-user-attribute="type"><%= user_is_teacher(user.teacher) %></td>
                <td><%= link_to 'Apskatīt', user_path(user) %>
                </td>
                <td><%= link_to 'Labot', edit_user_path(user) %></td>  
                <td><%= link_to 'Dzēst', user_path(user), method: :delete, 
                data: { confirm: 'Vai esat drošs, ka vēlaties dzēst ierakstu?'} %></td>
            </tr>

        <% end %>
    </tbody>

</table>

<%= link_to 'Jauns lietotājs', new_user_path %>  
