<p id="notice"><%= notice %></p>
<h1>Kursi</h1>

<table id="courses">
    <thead>
        <tr>
            <th>Nosaukums</th>
            <th>Apraksts</th>
            <th>Sākuma datums</th>
            <th>Beigu datums</th>
            <th>Minimālais pieteikumu skaits</th>
            <th>Maksimālais pieteikumu skaits</th>
            <th>Pasniedzējs</th>
        </tr>
    </thead>
    <tbody>

        <% @courses.each do |course| %>

            <tr data-course-id="<%= course.id %>">
                <td data-course-attribute="title"><%= link_to course.title, course_path(course), method: :show %></td>
                <td data-course-attribute="description"><%= course.description %></td>
                <td data-course-attribute="start_date"><%= course.start_date %></td>
                <td data-course-attribute="end_date"><%= course.end_date %></td>
                <td data-course-attribute="min_number"><%= course.min_number %></td>
                <td data-course-attribute="max_number"><%= course.max_number %></td>
                <td data-course-attribute="user_id"><%= course.user_id %></td>

                <td><%= link_to 'Labot', edit_course_path(course) %></td>  
                <td><%= link_to 'Dzēst', course_path(course), method: :delete, 
                data: { confirm: 'Vai esat drošs, ka vēlaties dzēst ierakstu?'} %></td>
            </tr>

        <% end %>
    </tbody>

</table>

<%= link_to 'Jauns kurss', new_course_path %>  
