<%= form_with(model: attendance, local: true) do |form|%>

   <%if attendance.errors.any?%>
      <div id="error_explanation">
         <h2>Kļūdas saglabājot:</h2>

         <ul>
         <% attendance.errors.full_messages.each do |message|%>
         <li><%=message%></li>
         <%end%>

         </ul>
      </div>
   <%end%>


      <div>
      <%= form.label :user_id, "Dalībnieks"%>
      <%= form.collection_select( :user_id, User.all, :id, :user_value, prompt: true ) %>
    </div>  
  <br><br><br>
      <div>
      <%= form.label :course_id, "Kurss"%>
      <%= form.collection_select( :course_id, Course.all, :id, :title, prompt: true ) %>
    </div>
   <br><br><br><br>
      <div>
        <%= form.submit "Saglabāt"%>
    </div>

<% end %>